.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    box-shadow: 4px 4px 10px #c0c0c0;
    padding:10px;
}
.header-title{
    color:#3e8989;
    font-size: 42px;
}
.nav-box{
    text-decoration: none;
    margin:20px;
    font-size: 20px;
 }