.header-box{
    display: flex;
    justify-content: space-between;
    margin:30px;
    align-items: center;
    box-shadow: 20px 20px  20px solid rgb(0, 0, 0);
    border:1px solid red;
}
.header-title{
    color:#3e8989;
    font-size: 42px;
}
.nav-box{
    text-decoration: none;
    margin:20px;
    font-size: 20px;
 }